body
{
    font-size: 1.1em;
    font-family: "Helvetica Neue UltraLight", "HelveticaNeue-UltraLight", "Helvetica Neue", "HelveticaNeue", "Raleway", sans-serif; 
    color: #232323;
    background-color: white;
    line-height:1.5em;
}

header,
footer,
nav,
section {
    display: block;
    background-color: rgb(243, 243, 243);
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#Container
{
	background-color:transparent;
	width:85%;
	margin:0 auto;
}
#Header
{
	width:100%;	
}
#Body
{
	margin-top:10px;
}
#Header
{
	background-attachment:inherit;
	background-repeat:no-repeat;
	background-position: right center;
	background-color:White;
	height:175px;
}
#Header h1
{
	margin-top:50px;
	display:inline-block;
	background-color:White;
	padding:10px;
}
#Home div.collectEmail
{
	width:100%;
	top:2px;
}
div.clear
{
	clear:both;
	height:1px;
}


#AlphaCollectEmail .privacy
{
	font-size:75%;
	color:#333333;
	line-height:1.1em;
	margin:10px 0px 0px 0px;
}
#AlphaCollectEmail #CustomerEmail
{
    width: 50%;
    font-size: 18px;
   
}
#SubmitCustomerEmailButton {
    font-size: 16px;
}


#NavBar
{
	background-color:gray;
    height: 75px;
	font-family:Verdana,arial,helvetica;
	font-size:0.9em;
	line-height:1.0em;
	padding:1px 0px 1px 12px;
	    vertical-align:middle;
	      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4E6073), to(#153344));
  background: -webkit-linear-gradient(270deg,#4E6073, #153344);
  background: -moz-linear-gradient(270deg,#4E6073, #153344);
  background: -ms-linear-gradient(270deg,#4E6073, #153344);
  background: -o-linear-gradient(270deg,#4E6073, #153344);
  background: linear-gradient(270deg,#4E6073, #153344);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25);
  -pie-box-shadow: 0 4px 10px 0 #999;
}
#NavBar ul
{
	margin-left:0px;
	left:0px;
	padding:0px;
    float: right;
}
#AppName {
    display: inline;
    float: left;
    padding: 5px;
}
#NavBar a {
    color: white;
}
#NavBar li
{
	list-style-type:none;
	display:inline-block;
	text-transform:uppercase;
	color:White;
	margin-left:0px;
	padding:0px 10px 0px 0px;
	margin-right:1px;
	border-right:1px solid white;
	/* border-top:1px solid blue;
	border-bottom:1px solid yellow;
	border-left:1px solid orange; */
}
div.reportWizardStep .custodians ul
{
	list-style-type:none;
}
div.reportWizardStep .custodians li.disabled
{
	color:#666666;
}

/* @group Intro */
.home{ vertical-align: top;}

.home-intro {vertical-align: top;width: 500px;}
.home-intro h1 {margin: 0 0 15px; color: #666; 
                font-family: "Helvetica Neue UltraLight", "HelveticaNeue-UltraLight", "Helvetica Neue", "HelveticaNeue", "Raleway", sans-serif; 
                font-size: 40px; font-weight: 100; letter-spacing: 2px; line-height: 1; text-indent: 3px;}

.home-intro-feature {  color: #888582;vertical-align: top;}
.home-intro-feature h2 {
    margin: 0 0 3px;
    color: #394B5E;
    font-family: Helvetica, Arial, 'Liberation';  
    font-size:medium; 
    font-style: normal; 
    font-weight: 600;
}
 
.home-intro-feature-text{ display: block;min-height: 100px;}
.home-intro-feature-icon {
    display: block;
    float: left;
    left: 0;
    top: 3px;
    height: 64px;
    width: 64px;
    margin-right: 5px;
    vertical-align: top;
   
  }
 .home-intro-feature-chart{ background-image: url('../images/home/chart.png');background-repeat: no-repeat;}
 .home-intro-feature-why { background-image: url('../images/home/help.png');background-repeat: no-repeat;}
 .home-intro-feature-signup { background-image: url('../images/home/users.png');background-repeat: no-repeat;}
 
 .notification {
     color: #153344;
     font-weight: bold;
 }