<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/admin.css")"/>
</head>

<body>
    @RenderBody()
</body>
</html>
