@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p/>
Starting point for SimpleDB-related management, maintenance, and diagnostic queries.
<p/>
@Html.ActionLink("View Domains", "Domains", "SimpleDb")