@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p/>
@Html.ActionLink("View portfolio calculation requests", "Index", "PortfolioCalculationRequest")
<br/>
@Html.ActionLink("View user files", "Index", "UserFiles")
<br />
@Html.ActionLink("SimpleDB home page", "Index", "SimpleDb")
