<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    @RenderSection("head", false)

    @Html.Partial("~/Views/Shared/Css/css.cshtml")
    
    
</head>
<body>
    @RenderBody()
</body>
</html>
