<div id="AlphaCollectEmail">

@using (Ajax.BeginForm("SubmitCustomerEmail", "Customer", new AjaxOptions { OnSuccess = "showSubmitEmailResponse" }))
{	
    <div id="CustomerEmailInput">
        <input type="text" id="CustomerEmail" name="CustomerEmail" />
        <button type="submit" id="SubmitCustomerEmailButton" name="SubmitCustomerEmailButton" value="true">Yes, Notify Me!</button>
    </div>
    <div id="CustomerEmailSubmitResult" class="notification"></div>
	<div class="privacy">
		* We won't sell, rent, give away, divulge, disclose or otherwise do anything 
		with your email address other than to keep you notfied about the progress 
		of RepuTrade Cloud Performance Reporting.
	</div>
}
</div>
<script src="@Url.Content("~/Scripts/motore/forms/CollectCustomerEmail.js")" type="text/javascript"></script>