@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Reputrade</h2>
Reputrade Performance Reporting will give you quick and accurate performance reporting information for your investment
portfolios.
<ul>
	<li>What was your pre-tax performance?</li>
	<li>What was your after-tax performance?</li>
	<li>How did you compare with selected benchmarks, like the S&P 500 or Russell 1000?</li>
</ul>