@{
    ViewBag.Title = "Reputrade Performance Reporting";
}

<div id="Home">
<div class="collectEmail">
@Html.Partial("~/Views/Forms/Collect/EmailHomePage.cshtml")
</div>
Reputrade Performance Reporting will give you quick and accurate performance reporting information for your investment
portfolios.
<p />
<ul>
	<li>What was your pre-tax performance?</li>
	<li>What was your after-tax performance?</li>
	<li>How did you compare with selected benchmarks, like the S&P 500 or Russell 1000?</li>
</ul>
Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah.
<p />
<ul>
	<li>Blah blah blah Blah blah blah</li>
	<li>Blah blah blah</li>
	<li>Blah blah blah Blah blah blah Blah blah blah </li>
	<li>Blah blah blah Blah blah blah </li>
</ul>
<p />
Blah blah blah Blah blah blah Blah blah blah vBlah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
<div class="clear"></div>
</div>
