@{
    ViewBag.Title = "Response";
}

<h2>Response</h2>
<p/>
This page will show the response to the user, with a link to check status, and maybe a note
about how to check their email, and a big thank you, etc. etc.
<p/>
Perhaps a note about how long it might take to process.
<p/>
Obviously if there are any exceptions, etc.
