@{
    ViewBag.Title = "Share With Friends";
}

<div id="PortfolioCalculationRequestSharePage">
    <h2>Help Us Spread The Word</h2>
    <p/>
    <div>
        We think this service is pretty cool.  We'd love it if you could help
        spread the word via Facebook, Twitter, StumbleUpon, or any of the other social
        networks that you participate in.
    </div>
    <div>
        Facebook icon, twitter icon, linkedin icon, stumble upon, reddit, digg, etc.
        <p/>
        Open question as to how far to go on this.
    </div>
</div>