@{
    ViewBag.Title = "Status";
}

<h2>Status</h2>
<p/>
To the admin: this page will be navigated to by our end-user consumers in order to check in on
the status of their portfolio request that they submitted elsewhere.
<p/>
<b>Not yet implemented</b>