<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net configSource="log4net.config" />

    <appSettings>
        <add key="AwsAccessKey" value="AKIAJY4RNZPB6YFPJRIQ"/>
        <add key="AwsSecretKey" value="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"/>
        <add key="MarketDataRequestQueueUrl" value="https://us-west-2.queue.amazonaws.com/948403467844/MarketDataRequests"/>
        <add key="SimpleDbServiceUrl" value="https://sdb.us-west-2.amazonaws.com"/>
    </appSettings>

</configuration>